<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="nlog-internal.log">

	<!-- Load the MailKit Core plugin -->
	<extensions>
		<add assembly="NLog.MailKit"/>
	</extensions>

	<!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  
  <variable name="myvar" value="myvalue"/>
-->
	<!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
	<targets>
		<target xsi:type="Null" name="BlackHole" formatMessage="false"  />
		<!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->
		
		<target name="logconsole" xsi:type="Console"
				layout="${longdate} ${logger} ${message} ${exception:format=tostring}"
            />
		<!-- Send an email -->
		<target name="gmail" xsi:type="Mail"
				smtpServer="smtp.gmail.com"
				smtpPort="465"
				smtpAuthentication="Basic"
				smtpUserName=""
				smtpPassword=""
				enableSsl="true"
				from="QTLogger@stonkatlas.com"
				to=""
				subject="${machinename} - Stonks Logger Fatal Error (${shortdate:format=dd. MM. yyyy})"
				layout="Occured at: ${longdate}${newline}
LEVEL:${uppercase:${level}}${newline}
EVENTID:${event-properties:EventID:whenEmpty=1}${newline}
LOCATION:${logger} from ${callsite:className=true:includeSourcePath=true:methodName=true}${newline}
MESSAGE:${message}${newline}
EXCEPTION MESSAGES::${exception:maxInnerExceptionLevel=10:format=Message:innerFormat=Message}${newline}${newline}
EXCEPTION:${exception:format=toString,Data:maxInnerExceptionLevel=10}${newline}"
            />

		<target name="file" xsi:type="File"
				layout="Occured at: ${longdate}${newline}
LEVEL:${uppercase:${level}}${newline}
EVENTID:${event-properties:EventID:whenEmpty=1}${newline}
LOCATION:${logger} from ${callsite:className=true:includeSourcePath=true:methodName=true}${newline}
MESSAGE:${message}${newline}
EXCEPTION MESSAGES::${exception:maxInnerExceptionLevel=10:format=Message:innerFormat=Message}${newline}${newline}
EXCEPTION:${exception:format=toString,Data:maxInnerExceptionLevel=10}${newline}"
				fileName="${event-properties:LogFileName}"
				keepFileOpen="false"
				autoFlush="true"
            />

		<!--Log to MS SQL Database
		<target xsi:type="Database"
		  name="SQLDatabase"
		  dbProvider="System.Data.SqlClient"
		  connectionStringName="Service.Properties.Settings.MappingConnectionString"
		  keepConnection="false"
		  commandType="Text"
		  commandText="insert into dbo.EventLog(OccuredAt,EventID,Level,Location,Message,ExceptionMessage,Exception) values(@OccuredAt,@EventID,@Level,@Location,@Message,@ExceptionMessage,@Exception);">
			<parameter name="@OccuredAt" layout="${date}"/>
			<parameter name="@EventID" layout="${event-properties:EventID:whenEmpty=1}"/>
			<parameter name="@Level" layout="${level}"/>
			<parameter name="@Location" layout="${logger} from ${callsite:className=true:includeSourcePath=true:methodName=true}"/>
			<parameter name="@Message" layout="${message}"/>
			<parameter name="@ExceptionMessage" layout="${exception:maxInnerExceptionLevel=10:format=Message:innerFormat=Message}"/>
			<parameter name="@Exception" layout="${exception:format=toString,Data:maxInnerExceptionLevel=10}"/>
		</target>-->
	</targets>

	<rules>
		<!--Levels: Trace, Debug, Info, Warn, Error, Fatal -->

		<!--Trace messages to console only for debugging -->
		<logger name="*" minlevel="Trace" writeTo="logconsole" />
		<!--All logs debug or higher to windows event log and database-->
		<logger name="*" minlevel="Debug" writeTo="SQLDatabase" />

		<!--Any logs with the name Notifications and at least Trace level are sent via E-Mail-->
		<logger name="Notifications" minlevel="Trace" writeTo="gmailNotifications"  final="true" />

		<!--All Fatal level logs are emailed these contain debug information-->
		<logger name="*" minlevel="Fatal" writeTo="gmail" />
		
	</rules>
</nlog>
